#profile_photo{
    width: 160px;
    height: 160px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url('../images/profile_photo.png');
    border: 3px solid #76BA1B;
}
.social-media-button:hover{
    color: #262626 !important;
}
@media screen and (max-width: 1024px){
    #profile_photo{
        width: 140px;
        height: 140px;
    }
}
