#notifications-wrap{
    z-index: 100;
    position: absolute;
    top: 0;
    left: 50%;
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.notification.success{
    background-color: #68BB59;
    color: white;
}
